<!DOCTYPE html>
<html >

  <head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
  </head>

<body ng-app="myApp" ng-controller="mytodoCtrl">

<div class="container">
	 <div class="row">
	   <div class="col-sm-12">
	<h2>ToDo List</h2><hr>
			<form ng-submit="addTodo()" class="todo-form">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="todoInput" placeholder="Enter new ToDo item" />
			</div>
			<button type="submit" class="btn btn-success">Add Task</button>
			</form>
			
			<br>
		
	<h3>My ToDo List</h3><hr>
			<table class="table table-striped">
				<tr ng-repeat="todo in todos track by $index">
					<td><input type="checkbox" ng-model="todo.done"></td>
					<td><span  ng-class="{strike: todo.striked}" ng-bind="todo.todoText"></span></td>
				</tr>
			</table>
			<!--
				<div ng-repeat="todo in todos track by $index">
					<input type="checkbox" ng-model="todo.done">
					<span  ng-class="{strike: todo.striked}" ng-bind="todo.todoText"></span>
				</div>
				<br>
				
				-->
			<button ng-click="mark()" class="btn btn-primary">Mark all</button>
			<button ng-click="strike()" class="btn btn-warning">Strike Marked</button>
			<button ng-click="remove()" class="btn btn-danger">Remove Marked</button> 
		</div>
	</div>
</div>    
	<script src="js/myNoteApp.js"></script>
	<script src="js/myNoteCtrl.js"></script>
  </body>

</html>